@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", sans-serif;
  margin: 0;
  background-color: black !important;
}

table {
  width: 100%;
}

tr th {
  border: 1px solid #000;
  color: #cbd5e0 !important;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

tbody tr td {
  color: #a0aec0;
  border: 1px solid #000;
  font-size: 12px;
  text-align: center;
  background-color: #000 !important;
}

/* closed meeting */
.time-tid3,
.ti3 {
  color: #f56565;
  font-weight: 600;
  background-color: black !important;
}

/* open meeting */
.time-tid4,
.tid4 {
  color: #68d391;
  font-weight: 600;
  background-color: black !important;
}

/* young people */
.time-tid5,
.tid5 {
  color: #f6ad55;
  font-weight: 600;
  background-color: black !important;
}

/* women-meeting */
.time-tid6,
.tid6 {
  color: #f687b3;
  font-weight: 600;
  background-color: black !important;
}

/* men-meeting */
.time-tid7,
.tid7 {
  color: #63b3ed;
  font-weight: 600;
  background-color: black !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
